<app-header></app-header>
<mat-card style="width: 70%;margin-left: 15%;">

  <mat-card-content>
    <mat-grid-list gutterSize=3% cols=3 rowHeight="5:3">
      <mat-grid-tile>
        <button mat-raised-button color="primary">Project</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" routerLink="/position">Position</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">Employee</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">UOM</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">Make</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">Origin</button>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list class="last" gutterSize=5% cols=2 rowHeight="5:3">
      <mat-grid-tile>
        <button mat-raised-button color="primary">Item</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">Service</button>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
  <mat-divider></mat-divider>
  <br>
</mat-card>
